*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
 background-color: rgb(224, 215, 215);
}

.heading{
 background-color: palevioletred;
 text-align: center;
 width: 100%;
 padding: 1%;
 margin-bottom: 10%;
}

.maindiv {
 display: flex;
 justify-content: center;
}

.flexdiv {
 display: flex;
 flex-direction: column;
 border: 1px solid black;
 background-color:palevioletred;
}

label,input,button,p{
 text-align: center;
}

label{
 margin: 15%;
}

input,p{
 margin:0% 2% 10% 2%;
}

button{
 margin: 0% 0% 10% 35%;
 width: 25%;
}